body{
  margin: 0;
}
.windows-page-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.windows-page-desktop-container{
  display: flex;
  height: 95%;
  width: 100%;
  background-image: url('https://static.vecteezy.com/system/resources/previews/004/736/721/non_2x/abstract-black-background-design-banner-pattern-background-template-suitable-for-various-background-design-template-banner-poster-presentation-etc-vector.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.windows-page-menu-bar-container{
  display: flex;
  align-items: center;
  height: 5%;
  background-color: #152728;
  z-index: 2;
}

.windows-page-menu-button-item{
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 4vmax;
  height: 100%;
  padding: 0.5vmax;
  &:hover{
    opacity:0.5;
    background-color:#152728;
    svg{
      fill:#00A8E8;
    }
  }
}

.buttom-menu-icon{
  widows: 2vmax;
  height: 2vmax;
}

.windows-page-lateral-meanu{
  display:flex;
  background-color:#151515;
  position: absolute;
  height: 60vh;
  width: 33vw;
  left: 0;
  top:35vh;
  color:white;
  
}

.windows-menu-item-container{
  display:flex;
  flex-direction: row;
  width:100%;
  height:5vmax;
  box-sizing: border-box;
}
.windows-menu-item-icon{
  display:flex;
  align-items:center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.windows-menu-item-name{
  display:flex;
  align-items:center;
  width: 80%;
  height: 100%;
}
